@font-face 
    font-family: "opensans";
    src: url("../fonts/opensansregular/opensansregular.eot");
    src: url("../fonts/opensansregular/opensansregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/opensansregular/opensansregular.woff") format("woff"),
    url("../fonts/opensansregular/opensansregular.ttf") format("truetype")
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "opensanslight";
    src: url("../fonts/opensanslight/opensanslight.eot");
    src: url("../fonts/opensanslight/opensanslight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/opensanslight/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight/opensanslight.ttf") format("truetype")
    font-style: normal;
    font-weight: normal;
    @font-face 
    font-family: "opensansbold";
    src: url("../fonts/opensansbold/opensansbold.eot");
    src: url("../fonts/opensansbold/opensansbold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/opensansbold/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold/opensansbold.ttf") format("truetype")
    font-style: normal;
    font-weight: normal;